body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}



.impressum-button {
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.2vw;
}


.mail-link{
    text-decoration: none;
    color: black;
}


.bold-text {
    font-weight: bold;
    color: black;
}


@media only screen and (max-width: 979px ) {

    .link-button {
        border: solid;
        border-width: 1px;
        color: black;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4vw;
        margin: 4px 2px;
        width: 50%;
    }

    .title {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-desktop {
        display: none;
    }
    
    .header-image {
        width: 100%;
        background-color: white;
    }
    
    .main-graph {
        width: 100%;
        background-color: white;
    }
    
    .button-section {
        width: 100%;
        margin: 10px 0px;
        background-color: white;
        height: 5%;
    }
    
    .adress-info {
        width: 100%;
        background-color: white;
    }
    
    .impressum {
        width: 100%;
        margin: 10px 0px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-info {
        width: 100%;
        background-color: white;
    }
    
    .inner-title-dark {
        width: 85%;
        margin: 10%;
        background-color: white;
        text-align: center;
    }

    .inner-title-light{
        display: none;
    }
    
    .inner-title-text {
        font-size: 5.7vw;
        margin: 0px;
        color: black;
    }
    
    .inner-main-graph {
        margin: 2%;
    }
    
    .inner-button-section {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .inner-adress-info {
        padding: 2%;
        text-align: center;
        font-size: 4vw;
    }
    
    .inner-content-info {
        padding: 5%;
        text-align: center;
        font-size: 4vw;
    }
    
    .inner-content-info-left {
        padding: 1% 5%;
        text-align: left;
        font-size: 4vw;
    }

    .bg{
        display: none;
    }

    .desktop-impressum{
        display: none;
    }

    .inner-header-image-light{
        display: none;
    }

    .inner-title-light-button{
        display: none;
    }

    .content-desktop{
        display: none;
    }

    .inner-adress-info-desktop{
        display: none;
    }

    .desktop-impressum-add{
        display: none;
    }

    .imp-lay{
        text-align: justify;
    }
}

@media only screen and (min-width: 980px ) {

    body, html {
        height: 100%;
        margin: 0;
      }

    .bg {
    /* The image used */
    background-image: url("../images/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }










    .inner-adress-info{
        display: none;
    }

    .header-image{
        display: none;
    }

    .button-section{
        display: none;
    }








    
    .title-desktop {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-title-desktop {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link-button-desktop {
        border: solid;
        border-color: #707070;
        border-width: 1px;
        color: black;
        background-color: rgba(255, 255, 255, 0.801);
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2vw;
        margin: 70px 65px;
        width: 31%;
    }

    .inner-title-dark {
        display: none;
    }

    .inner-title-light{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        text-align: center;
    }

    .inner-title-text-desktop {
        font-size: 3vw;
        margin: 60px;
        color: black;
    }

    .main-graph-desktop {
        width: 50%;
        display: inline-block; 
    }

    .center-vertical{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .inner-title-light-button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        text-align: center;
    }

    .impressum{
        display: none;
    }

    .desktop-impressum{
        color: white;
        text-align: center;
        font-size: 1vw;
    }

    .desktop-impressum-button{
        color: white;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2vw;
        font-weight: bold;
    }

    .content-desktop{
        width: 100%;
        display: table;
    }

    .main-graph{
        display: none;
    }

    .content-info{
        display: none;
    }

    .content-info-desktop{
        text-align: center;
        width: 50%;
        height: 100%;
        display: inline-block; 
    }

    .inner-content-info-left-desktop {
        padding: 5% 5% 1% 5%;
        text-align: left;
        font-size: 0.9vw;
        color: #707070;
    }

    .inner-main-graph-desktop {
        background-color: cadetblue;
        width: 100%;
        height: 4px;
    }


    * {
        box-sizing: border-box;
      }
      
      .box {
        float: left;
        width: 50%;
        padding: 50px;
      }
      
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }


      .inner-adress-info-desktop{
        padding: 0% 2% 2% 2%;
        text-align: center;
        font-size: 0.9vw;
      }

    .inner-impressum-info{
        padding: 0% 20% 2% 20%;
        text-align: center;
        font-size: 0.9vw;
        text-align: left;
    }

    #content {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 100px;  
    }

    .kontakt-page{
        
    }

}

@media only screen and (min-width: 1260px ) {

}

