body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.link-button {
    border: solid;
    border-width: 1px;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: 4px 2px;
    width: 50%;
}

.impressum-button {
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.2vw;
}


.mail-link{
    text-decoration: none;
    color: black;
}


.bold-text {
    font-weight: bold;
}

.title {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image {
    width: 100%;
    background-color: white;
}

.main-graph {
    width: 100%;
    background-color: white;
}

.button-section {
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    height: 5%;
}

.adress-info {
    width: 100%;
    background-color: white;
}

.impressum {
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-info {
    width: 100%;
    background-color: white;
}

.inner-title {
    width: 85%;
    margin: 10%;
    background-color: white;
    text-align: center;
}

.inner-title-text {
    font-size: 5.7vw;
    margin: 0px;
    color: black;
}

.inner-main-graph {
    margin: 2%;
}

.inner-button-section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-adress-info {
    padding: 2%;
    text-align: center;
    font-size: 4vw;
}

.inner-content-info {
    padding: 5%;
    text-align: center;
    font-size: 4vw;
}

.inner-content-info-left {
    padding: 1% 5%;
    text-align: left;
    font-size: 4vw;
}